*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    background-color: var(--bg-primary-color);
    color:var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    width: 100%;
}
main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap:var(--gutter-lg)
}
main section .top{
    display: flex;
    align-items: center;
    gap:var(--gutter-xl);
}
.btn{
    padding: var(--padding-sm) var(--padding-md);
    border: none;
    outline: none;
    background-color: var(--bg-active-color);
    border-radius:0.5rem;
    cursor: pointer;
    color: var(--text-active-color);
}
#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}
#Download-btn{
    background-color: var(--bg-succes-color);
    color: var(--text-primary-color);
}
main section .top{
    display: flex;
    align-items: center;
    gap:var(--gutter-xl);
    border:2px solid white;
    padding: var(--padding-lg) var(--padding-2xl);
    border-radius:10px;
}
main section .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:65%;
    gap:var(--gutter-md);
}
main section .right{
    width:30%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-md) var(--padding-md);
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    gap: var(--margin-sm);

}
main section .bottom{
    background-color:var(--bg-secondary-color);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/2;
    border-radius:20px;
    /* margin-bottom:var(--margin-lg); */
}
main section .bottom i{
    font-size:10rem;
}
main section .right .filter{
    width: 100%;
}
main section .right .filters{
    display:flex;
    flex-direction: column;
    gap: var(--gutter-sm);
}
main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    /* border: none; */
}
main section .right .filter input::-webkit-slider-runnable-track{
    background-color: var(--bg-active-color);
    height: 3px;
    border-radius:2px;
}
main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    width:20px;
    height:20px;
    appearance: none;
    border-radius: 50%;
    /* color:red; */
    margin-top: -5.5px;
}
canvas{
    /* background-color: red; */
    display: none;
    max-width: 90%;
    max-height: 800vh;
}